html, body
{
	height: 100%;
}

body
{
	background: -moz-linear-gradient(center top, #2A1B15, rgb(45,196,138));
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.11, #2A1B15), color-stop(1, rgb(45,196,138)));
}

#page-wrapper
{
	height: auto !important;
	min-height: 100%;
	background-color: #2A1B15;
}

#content-wrapper
{
	margin: 0px auto;
	padding: 40px 0px 20px;
	width: 540px;
}

#logo
{
	width: 121px;
	height: 62px;
	background-image: url(../images/logo.png);
	position: relative;
	top: -50px;
	left: 10%;
}

#content
{
	text-align: center;
	padding: 20px 20px 5px;
	border: 3px solid rgb(30,80,60);
	background-color: #92CC47;
	-moz-border-radius: 20px;
}

#timer
{
	color: #FCFAC4;
	font-size: 1.4em;
	font-weight: bold;
}

#timer-submit
{
	margin: 10px auto 5px;
	padding: 5px 10px;
	background-color: #B8D690;
	border: 2px solid #1E503C;
	font-weight: bold;
	-moz-border-radius: 20px;
}

