{% extends "base.html" %}

{% block styles %}
	{{ block.super }}
	{% for theme in theme_list %}
		<link title="{{ theme.name }}" href="{{ STATICFILES_URL }}{{ theme.styles_url }}/style.css" media="screen" rel="{% if theme != current_theme %}alternate {% endif %}stylesheet" type="text/css" />
	{% endfor %}
{% endblock styles %}

{% block scripts %}
	{{ block.super }}
	<script language="javascript"
	        type="text/javascript"
	        src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js">
	</script>
	<script language="javascript"
	        type="text/javascript"
	        src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.4/jquery-ui.min.js">
	</script>
{% endblock scripts %}

{% block title %}Mention, LLC{% endblock title %}
{% block site_name %}<a href="/">Mention, LLC</a>{% endblock site_name %}

{% block footer_text %}
	Copyright&copy; 2010, Mention, LLC. <em>All rights reserved.</em>
{% endblock footer_text %}

