{% extends "base_site.html" %}

{% block content %}
	{% if activity_list|length > 0 %}

	<div id="recent-activities">
	<h1>Today's Activities</h1>

	<table>
		<thead>
		<tr>
			<td>Started</td>
			<td>Finished</td>
			<td>Type</td>
			<td><a href="{% url timesheet-activity-create %}">New Activity</a></td>
		</tr>
		</thead>

		<tbody>

		{% for activity in activity_list %}
		<tr>
			<td>{{ activity.started }}</td>
			<td>{{ activity.finished }}</td>
			<td>{{ activity.get_activity_display }}</td>
			<td><a href="{% url timesheet-update-activity activity.pk %}">edit</a></td>
		</tr>
		{% endfor %}

		</tbody>
	</table>
	</div>

	{% else %}

	<div>You currently haven't created any activities today. Create a <a href="{% url timesheet-activity-create %}">new activity</a>.</div>

	{% endif %}
{% endblock content %}

